@model KobeTown.Models.EFcodeFirts.ProductCategory
@{
    ViewBag.Title = "Thêm mới danh mục sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<style>
    .page-header {
        margin: -10px;
        padding-bottom: -5px;
    }

    .card-body {
        padding: 5px 20px 20px 20px;
    }
</style>

<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title">Quản Lý Danh Mục Sản Phẩm</h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Admin/Product/Index">Danh Mục Sản phẩm</a></li>
                <li class="breadcrumb-item active" aria-current="page">Thêm Mới</li>
            </ol>
        </nav>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="card-header">
                    <h4 class="card-title">Thêm mới danh mục sản phẩm</h4>
                </div>
                @using (Html.BeginForm("Create", "ProductCategory", FormMethod.Post, new { }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)

                    <div class="card">
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="active tab-pane" id="activity">
                                    <div class="form-group">
                                        <label for="exampleIputEmail1">Tiêu đề</label>
                                        @Html.TextBoxFor(x => x.Title, new { @class = "form-control", @placeholder = "Tiêu đề" })
                                        @Html.ValidationMessageFor(x => x.Title, null, new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleIputEmail1">Alias</label>
                                        @Html.TextBoxFor(x => x.Alias, new { @class = "form-control", @placeholder = "Alias" })
                                        @Html.ValidationMessageFor(x => x.Alias, null, new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">Lưu</button>
                                        <a href="/Admin/ProductCategory">Quay lại</a>
                                    </div>
                                </div>
                                
                            </div>

                        </div>

                      
                        <div>
                            @Html.ActionLink("Back to List", "Index")
                        </div>
                    </div>

                }

            </div>
        </div>
 </div>
