﻿@model KobeTown.Models.EFcodeFirts.Product
@{
    ViewBag.Title = "Thêm mới sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<style>
    .page-header {
        margin: -10px;
        padding-bottom: -5px;
    }

    .card-body {
        padding: 5px 20px 20px 20px;
    }

    
    
</style>
<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title">Quản Lý Sản Phẩm</h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Admin/Product/Index">Sản phẩm</a></li>
                <li class="breadcrumb-item active" aria-current="page">Thêm Mới</li>
            </ol>
        </nav>
    </div>
    <div class="card-body">

        <div class="row">
            <div class="col-md-12">
                @using (Html.BeginForm("Create", "Products", FormMethod.Post, new { }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)

                    <div class="card-header">
                        <h4 class="card-title">Thêm mới sản phẩm</h4>
                    </div>

                    <div class="card">
                        <div class="card-header p-2">
                            <ul class="nav nav-pills">
                                <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Thông tin</a></li>
                                @*<li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Hình ảnh</a></li>*@
                            </ul>
                        </div><!-- /.card-header -->
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="active tab-pane" id="activity">
                                    <div class="form-group">
                                        <label for="exampleIputEmail1">Tên sản phẩm</label>
                                        @Html.TextBoxFor(x => x.Title, new { @class = "form-control", @placeholder = "Tên sản phẩm" })
                                        @Html.ValidationMessageFor(x => x.Title, null, new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleIputEmail1">Alias</label>
                                        @Html.TextBoxFor(x => x.Alias, new { @class = "form-control", @placeholder = "Alias" })
                                        @Html.ValidationMessageFor(x => x.Alias, null, new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleIputEmail1">SKU</label>
                                        @Html.TextBoxFor(x => x.ProductCode, new { @class = "form-control", @placeholder = "Mã sản phẩm" })
                                        @Html.ValidationMessageFor(x => x.ProductCode, null, new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleIputEmail1">Danh Mục</label>
                                        @Html.DropDownListFor(x => x.ProductCategoryId, ViewBag.ProductCategory as SelectList, "Chọn danh mục sản phẩm", new { @class = "form-control", @placeholder = "Mô tả sản phẩm" })
                                        @Html.ValidationMessageFor(x => x.ProductCategoryId, null, new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleIputEmail1">Mô tả</label>
                                        @Html.TextAreaFor(x => x.Description, new { @class = "form-control", @placeholder = "Mô tả sản phẩm" })
                                        @Html.ValidationMessageFor(x => x.Description, null, new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleIputEmail1">Chi tiết sản phẩm</label>
                                        @Html.TextAreaFor(x => x.Detail, new { @class = "form-control", @id = "txtDetail" })
                                        @Html.ValidationMessageFor(x => x.Detail, null, new { @class = "text-danger" })
                                    </div>
                                    <div class="row">
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label for="exampleIputEmail1">Số lượng</label>
                                                @Html.TextBoxFor(x => x.Quantity, new { @class = "form-control", @Value = "1" })
                                                @Html.ValidationMessageFor(x => x.Quantity, null, new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label for="exampleIputEmail1">Giá</label>
                                                <input type="text" name="demoPrice" value="0" id="demoPrice" class="form-control auto" data-a-dec="," data-a-sep=".">
                                                @Html.HiddenFor(x => x.Price, new { @class = "", @placeholder = "Giá sản phẩm" })
                                                @Html.ValidationMessageFor(x => x.Price, null, new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label for="exampleIputEmail1">Giá khuyến mãi</label>
                                                <input type="text" name="demoPriceSale" value="0" id="demoPriceSale" class="form-control auto" data-a-dec="," data-a-sep=".">
                                                @Html.HiddenFor(x => x.PriceSale, new { @class = "", @placeholder = "Khuyến mãi" })
                                                @Html.ValidationMessageFor(x => x.PriceSale, null, new { @class = "text-danger" })
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-3">
                                            <div class="form-group">
                                                <div class="custom-control custom-checkbox">
                                                    @Html.CheckBoxFor(x => x.IsActive, new { @class = "custom-control-input", @id = "customCheckbox2", @checked = "checked" })
                                                    <label style="line-height:2;" for="customCheckbox2" class="custom-control-label">Hiển thị</label>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="form-group">
                                                <div class="custom-control custom-checkbox">
                                                    @Html.CheckBoxFor(x => x.IsHot, new { @class = "custom-control-input", @id = "IsHotCheckbox2", })
                                                    <label style="line-height:2;" for="IsHotCheckbox2" class="custom-control-label">Hot</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="form-group">
                                                <div class="custom-control custom-checkbox">
                                                    @Html.CheckBoxFor(x => x.IsFeature, new { @class = "custom-control-input", @id = "IsFeaturCheckbox2", })
                                                    <label style="line-height:2;" for="IsFeaturCheckbox2" class="custom-control-label">Nổi bật</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="form-group">
                                                <div class="custom-control custom-checkbox">
                                                    @Html.CheckBoxFor(x => x.IsSale, new { @class = "custom-control-input", @id = "IsSaleCheckbox2" })
                                                    <label style="line-height:2;" for="IsSaleCheckbox2" ;" class="custom-control-label">Khuyến mãi</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.tab-pane -->
    
                                <div class="row">
                                    <label for="exampleIputEmail1">Hình ảnh</label>
                                    <div class="col-md-12 text-right">
                                        <input type="button" class="btn btn-primary" id="iTaiAnh" onclick="BrowseServer()" value="Tải ảnh" />

                                    </div>

                                    <div class="col-md-12">
                                        <table class="table table-hover" id="tbAnhSanPham">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">#</th>
                                                    <th class="text-center">Ảnh</th>
                                                    <th class="text-center">Ảnh đại diện</th>
                                                    <th class="text-center">Thao tác</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tbHtml">
                                                @*<tr>
                        <td class="text-center">1</td>
                        <td class="text-center"><img width="80" src="" /></td>
                        <td class="text-center"><input type="radio" name="rDefault" /></td>
                        <td class="text-center"><a href="#" class="btn btn-sm btn-danger">Xóa</a></td>
                    </tr>*@
                                            </tbody>
                                        </table>
                                        <input type="hidden" id="tCurrentId" value="0" />

                                    </div>
                                </div>

                                <!-- /.tab-pane -->
                                <!-- /.tab-pane -->
                            </div>
                            <!-- /.tab-content -->

                        </div><!-- /.card-body -->
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">Thêm mới</button>
                        </div>
                    </div>
                   
                }
            </div>

        </div>

    </div>

        <!-- content-wrapper ends -->
        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>

    @section scripts{
        <script>
            $(document).ready(function () {
                $('.auto').autoNumeric('init');
                $('#demoPrice').bind('blur focusout keypress keyup', function () {
                    var demoGet = $('#demoPrice').autoNumeric('get');
                    $('#Price').val(demoGet);
                    $('#Price').autoNumeric('set', demoGet);
                });
                $('#demoPriceSale').bind('blur focusout keypress keyup', function () {
                    var demoGet = $('#demoPriceSale').autoNumeric('get');
                    $('#PriceSale').val(demoGet);
                    $('#PriceSale').autoNumeric('set', demoGet);
                });
                CKEDITOR.replace('txtDetail', {
                    customConfig: '/content/ckeditor/config.js',
                    extraAllowedContent: 'span',
                });

                $('body').on('click', '.btnXoaAnh', function () {
                    var conf = confirm('Bạn có muốn xóa ảnh này không?');
                    if (conf === true) {
                        var _id = $(this).data('id');
                        $('#trow_' + _id).fadeTo('fast', 0.5, function () {
                            $(this).slideUp('fast', function () { $(this).remove(); });
                        });
                        var temp = $('#tCurrentId').val();
                        var currentId = parseInt(temp) - 1;
                        $('#tCurrentId').val(currentId);
                    }
                });

            });  
            function BrowseServer(field) {
                var finder = new CKFinder();
                finder.selectActionFunction = function (fileUrl) {
                    addImageProduct(fileUrl);
                };
                finder.popup();
            }
            function addImageProduct(url) {
                var temp = $('#tCurrentId').val();
                var currentId = parseInt(temp) + 1;
                var str = "";
                if (currentId == 1) {
                    str += `<tr id="trow_${currentId}">
                              <td class="text-center">${currentId}</td>
                              <td class="text-center"><img width="80" src="${url}" /> <input type ='hidden' value="${url}" name="Images" /></td>
                              <td class="text-center"><input type="radio" name="rDefault" value="${currentId}" checked= "checked"/></td>
                              <td class="text-center"><a href="#" data-id="${currentId}" class="btn btn-sm btn-danger btnXoaAnh">Xóa</a></td>
                              </tr >`;
                }
                else {
                    str += `<tr id="trow_${currentId}">
                              <td class="text-center">${currentId}</td>
                              <td class="text-center"><img width="80" src="${url}" /> <input type ='hidden' value="${url}" name="Images" /> </td>
                              <td class="text-center"><input type="radio" name="rDefault" value="${currentId}" /></td>
                              <td class="text-center"><a href="#" data-id="${currentId}" class="btn btn-sm btn-danger btnXoaAnh">Xóa</a></td>
                              </tr >`;
                }
                $('#tbHtml').append(str);
                $('#tCurrentId').val(currentId);
                
            }
        </script>
}